*{
  padding: 0;
  margin:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background: #bfbfbf;
}
/* @font-face{
  font-family: "icons-arrow";
  src:url("fonts/icons/turn-arrow.eot") format("embedded-opentype"),url("fonts/icons/turn-arrow.woff") format("woff"),
      url("fonts/icons/turn-arrow.ttg") format("truetype"),url("fonts/icons/turn-arrow.svg") format('svg');
} */
.app{
  height: 100%;
  width: 100%;
}
.img-state{
  position: relative;
  width: 100%;
  height: 974px;
}
.img-list{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
}
.img-list .img-figure{
  width: 320px;
  height: 360px;
  margin:0;
  padding:40px;
  background: #fff;
  position: absolute;
  cursor: pointer;
  transform-origin: 0 50% 0;
  transform-style: preserve-3d;
  transition:all 0.6s;
}
.img-list .img-figure img{
  width: 100%;
  height:240px;
}
.img-figure figcaption{
  text-align: center;
}
.img-title{
  margin:20px 0 0 0;
  color: #a7a0a2;
  font-size: 16px;
}





.img-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}
.img-back{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top:0;
  padding: 20px 0;
  background: #fff;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
}
.is-inverse{
  transform: translateX(320px) rotateY(180deg);
}
.img-nav span.controll-unit{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:0 5px;
  text-align: center;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  transform: scale(0.5);
  transition: all 0.6s;
}
.img-nav span.controll-unit.is-center{
  transform: scale(1);
  background: skyblue;
}
.img-nav span.controll-unit.is-inverses{
  transform: rotateY(180deg);
  background: green;
}